button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 16;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: coral;
    text-align: center;
    margin: 0 20;
} 

.title {
    font-size: 30;
    margin: 16;
}

.nav {
    orientation: horizontal;
    horizontal-align: stretch;
    padding: 4;
    background-color: lightblue;
}

.link {
    margin: 10 30;
}
